@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.CardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: bisque;
    align-items: center;
    max-width: max-content;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;


}

.mealImage{
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
}
